[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"
pylint = "*"
faker = "*"
flit = "*"
pytest-xdist = "*"
importlib-metadata = "*"
pylint-fail-under = "*"

[requires]
python_version = "3"
